.wrap {
  max-width: 1320px;
  padding: 0 0.75rem 0 132px;

  .result {
    position: relative;
    top: -72px;
    display: inline-block;
    vertical-align: top;
    width: 60%;
    padding-right: 1.5rem;
    z-index: 6;
  }

  .saved {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    padding-left: 1.5rem;
  }
}
