@import '../../assets/themes/colors.scss';
@import '../../assets/styles/effects.scss';
@import '../../index.scss';

.wrap {
  display: inline-block;
  border-radius: 24px;
  height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    @extend .block-shadow;
    background-color: $im-background;
  }

  .name {
    @extend .noselect;
    color: $im-unaccent;
    margin-left: 1rem;
    margin-right: .75rem;
  }

  img {
    border-radius: 50%;
  }
}