@import "../../assets/themes/colors.scss";
@import "../../assets/styles/typography.scss";

.wrap {
  position: relative;
  left: calc(-36px - 1rem);
  width: calc(100% + 36px + 1rem);
}

.add {
  display: inline-block;
  width: 36px;
  margin-right: 1rem;
  visibility: hidden;

  .wrap:hover & {
    visibility: visible;
  }
}

.content {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 36px - 1rem);

  .head_wrap {
    margin-bottom: 0.25rem;

    .title {
      @extend .font-weight-medium;
      color: $im-link;
      margin-bottom: 0;
    }

    .url {
      @extend .font-weight-medium;
      color: $im-caption;
      margin-bottom: 0;
    }
  }

  .desc {
    @extend .font-weight-regular;
    margin-bottom: 0;
  }
}
