@import './assets/styles/colors.scss';
@import './assets/styles/effects.scss';
@import './assets/styles/typography.scss';

html {
  height: 100%;
}

body {
  /* react default */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* customized */
  height: 100%;
  color: $im-dark;
  background-color: $im-shadow;
}

a {
  color: $im-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  @extend .button-shadow;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */
}