@import '../themes/colors.scss';

.font-footnote {
  color: $im-unaccent;
}

.font-accent-footnote {
  color: $im-dark;
}

.font-placeholder {
  color: $im-unaccent;
}

.font-footlink {
  color: $im-link;
}