$im-primary: #023246;
$im-secondary: #1B6B8C;
$im-unaccent: #8F8F8A;
$im-light: #E4E4E4;
$im-dark: #36382E;
$im-shadow: #F4F4F4;
$im-background: #FFFFFF;
$im-link: #0D56AB;
$im-caption: #0D6A16;
$im-danger: #C34D3C;
$im-warn: #F8961E;
$im-content-purple: #F8DCF9;
$im-content-green: #B7ECB6;
$im-content-blue: #B6E5EC;
$im-content-red: #FACACA;
$im-secondary-alpha: #1b6a8c4e;